
<%- include("./partials/head.ejs") %> 

<body>
    
   
    <%- include("./partials/nav.ejs") %> 

    <section class="mainSection">

        <div>
            <h1>To-Do App</h1>
            <h3>Registrate y Crea Tus Propios Recordatorios!</h3>
        </div>
        
    </section>

    <section class="contentSection">

        <div class="contentSection_1">
            <div>
                <h4>Organiza tu vida</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum ipsam corporis eaque officia modi consectetur tempora laudantium. Rerum eum tenetur obcaecati, assumenda, eius ullam, officiis iure eaque eveniet quod saepe?</p>
            </div>
            <div class="contenedorImgSection">
                <img src="../img/testimg.jpg" alt="">
            </div>
        </div>
        <div class="contentSection_2">
            <div class="contenedorImgSection">
                <img src="../img/testimg.jpg" alt="">
            </div>
            <div>
                <h4>Añade recordatorios</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ex repellat, dolor voluptates veritatis eius quae ipsum nemo omnis sunt, labore facilis excepturi vel cumque? Vero fuga ea veritatis dolore.</p>
            </div>
        </div>
        <div class="contentSection_3">
            <div>
                <h4>Optimiza tu tiempo</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni repudiandae debitis, nemo vel accusantium quibusdam provident reiciendis ratione ut dolorum laboriosam labore mollitia! Laudantium iusto doloremque magnam porro nisi repudiandae.</p>
            </div>
            <div class="contenedorImgSection">
                <img src="../img/testimg.jpg" alt="">
            </div>
        </div>

    </section>

</body>

<%- include("./partials/footer.ejs") %> 
