@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #3E1E68;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 22vmin;
    height: 22vmin;
    border-radius: 22vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 35;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #FFACAC;
    top: 19%;
    left: 91%;
    animation-duration: 12s;
    animation-delay: -8s;
    transform-origin: 0vw 4vh;
    box-shadow: -44vmin 0 6.063896832801518vmin currentColor;
}
.background span:nth-child(1) {
    color: #E45A84;
    top: 28%;
    left: 90%;
    animation-duration: 155s;
    animation-delay: -9s;
    transform-origin: -2vw -22vh;
    box-shadow: 44vmin 0 5.692269241700811vmin currentColor;
}
.background span:nth-child(2) {
    color: #E45A84;
    top: 41%;
    left: 24%;
    animation-duration: 120s;
    animation-delay: -15s;
    transform-origin: 1vw 24vh;
    box-shadow: 44vmin 0 6.3036378292110085vmin currentColor;
}
.background span:nth-child(3) {
    color: #583C87;
    top: 17%;
    left: 55%;
    animation-duration: 50s;
    animation-delay: -7s;
    transform-origin: -14vw -5vh;
    box-shadow: -44vmin 0 6.108708053053003vmin currentColor;
}
.background span:nth-child(4) {
    color: #E45A84;
    top: 15%;
    left: 41%;
    animation-duration: 52s;
    animation-delay: -147s;
    transform-origin: -1vw 8vh;
    box-shadow: 44vmin 0 6.411578443277103vmin currentColor;
}
.background span:nth-child(5) {
    color: #FFACAC;
    top: 80%;
    left: 65%;
    animation-duration: 122s;
    animation-delay: -91s;
    transform-origin: -15vw -14vh;
    box-shadow: 44vmin 0 6.25199339046765vmin currentColor;
}
.background span:nth-child(6) {
    color: #FFACAC;
    top: 97%;
    left: 82%;
    animation-duration: 78s;
    animation-delay: -33s;
    transform-origin: 22vw -15vh;
    box-shadow: -44vmin 0 5.918158371869002vmin currentColor;
}
.background span:nth-child(7) {
    color: #E45A84;
    top: 28%;
    left: 53%;
    animation-duration: 8s;
    animation-delay: -4s;
    transform-origin: 2vw -23vh;
    box-shadow: 44vmin 0 6.3409263310450505vmin currentColor;
}
.background span:nth-child(8) {
    color: #583C87;
    top: 48%;
    left: 79%;
    animation-duration: 58s;
    animation-delay: -22s;
    transform-origin: -12vw 23vh;
    box-shadow: -44vmin 0 6.019715811947282vmin currentColor;
}
.background span:nth-child(9) {
    color: #583C87;
    top: 76%;
    left: 32%;
    animation-duration: 31s;
    animation-delay: -125s;
    transform-origin: -5vw -8vh;
    box-shadow: -44vmin 0 6.36850653979235vmin currentColor;
}
.background span:nth-child(10) {
    color: #FFACAC;
    top: 39%;
    left: 88%;
    animation-duration: 127s;
    animation-delay: -8s;
    transform-origin: 18vw 5vh;
    box-shadow: 44vmin 0 5.56743388032838vmin currentColor;
}
.background span:nth-child(11) {
    color: #E45A84;
    top: 49%;
    left: 20%;
    animation-duration: 111s;
    animation-delay: -16s;
    transform-origin: -8vw 4vh;
    box-shadow: 44vmin 0 6.105677765880317vmin currentColor;
}
.background span:nth-child(12) {
    color: #FFACAC;
    top: 60%;
    left: 1%;
    animation-duration: 92s;
    animation-delay: -83s;
    transform-origin: -1vw 9vh;
    box-shadow: -44vmin 0 6.472446934445111vmin currentColor;
}
.background span:nth-child(13) {
    color: #583C87;
    top: 47%;
    left: 75%;
    animation-duration: 16s;
    animation-delay: -45s;
    transform-origin: -2vw -1vh;
    box-shadow: -44vmin 0 6.245404212389746vmin currentColor;
}
.background span:nth-child(14) {
    color: #583C87;
    top: 90%;
    left: 75%;
    animation-duration: 37s;
    animation-delay: -113s;
    transform-origin: 3vw -8vh;
    box-shadow: 44vmin 0 5.813484377738308vmin currentColor;
}
.background span:nth-child(15) {
    color: #FFACAC;
    top: 52%;
    left: 31%;
    animation-duration: 139s;
    animation-delay: -115s;
    transform-origin: -4vw -20vh;
    box-shadow: 44vmin 0 6.017621630827664vmin currentColor;
}
.background span:nth-child(16) {
    color: #583C87;
    top: 48%;
    left: 32%;
    animation-duration: 118s;
    animation-delay: -148s;
    transform-origin: 25vw -13vh;
    box-shadow: -44vmin 0 5.8399685132025265vmin currentColor;
}
.background span:nth-child(17) {
    color: #E45A84;
    top: 42%;
    left: 60%;
    animation-duration: 34s;
    animation-delay: -144s;
    transform-origin: 1vw 19vh;
    box-shadow: -44vmin 0 6.273967815138409vmin currentColor;
}
.background span:nth-child(18) {
    color: #E45A84;
    top: 87%;
    left: 19%;
    animation-duration: 149s;
    animation-delay: -101s;
    transform-origin: -24vw -10vh;
    box-shadow: 44vmin 0 5.583275957330906vmin currentColor;
}
.background span:nth-child(19) {
    color: #583C87;
    top: 9%;
    left: 12%;
    animation-duration: 16s;
    animation-delay: -38s;
    transform-origin: -13vw 5vh;
    box-shadow: 44vmin 0 6.034196158715551vmin currentColor;
}
.background span:nth-child(20) {
    color: #E45A84;
    top: 71%;
    left: 91%;
    animation-duration: 79s;
    animation-delay: -127s;
    transform-origin: -15vw 12vh;
    box-shadow: 44vmin 0 5.679629283155366vmin currentColor;
}
.background span:nth-child(21) {
    color: #E45A84;
    top: 17%;
    left: 57%;
    animation-duration: 99s;
    animation-delay: -12s;
    transform-origin: -24vw 12vh;
    box-shadow: 44vmin 0 6.495719226518445vmin currentColor;
}
.background span:nth-child(22) {
    color: #583C87;
    top: 85%;
    left: 36%;
    animation-duration: 60s;
    animation-delay: -2s;
    transform-origin: 3vw -22vh;
    box-shadow: 44vmin 0 5.763570163329927vmin currentColor;
}
.background span:nth-child(23) {
    color: #FFACAC;
    top: 59%;
    left: 5%;
    animation-duration: 97s;
    animation-delay: -44s;
    transform-origin: 12vw -12vh;
    box-shadow: -44vmin 0 5.903320863838962vmin currentColor;
}
.background span:nth-child(24) {
    color: #FFACAC;
    top: 95%;
    left: 28%;
    animation-duration: 48s;
    animation-delay: -135s;
    transform-origin: 18vw -15vh;
    box-shadow: -44vmin 0 5.7921625070582925vmin currentColor;
}
