@media screen and (max-width: 1400px){
    .loginRegisterSection div input,
    .loginRegisterSection div button {
        width: 50%;
    }
}

@media screen and (max-width: 900px){
    .loginRegisterSection div input,
    .loginRegisterSection div button {
        width: 70%;
    }
}

@media screen and (max-width: 500px){
    .loginRegisterSection div input,
    .loginRegisterSection div button {
        width: 90%;
    }
}


@media screen and (max-width: 375px){
    .loginRegisterSection div input,
    .loginRegisterSection div button {
        width: 100%;
    }
}

