@import "nav.css";
@import "mainSection.css";
@import "loginRegister.css";
@import "responsive.css";
@import "interface.css";
@import "newReminder.css";
@import "background.css";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Kanit', sans-serif;
}

